<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>ServletRegistrarUsuario</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletRegistrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarUsuario</servlet-name>
    <url-pattern>/ServletRegistrarUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAutenticarUsuario</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletAutenticarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAutenticarUsuario</servlet-name>
    <url-pattern>/ServletAutenticarUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNuevoAdmin</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletNuevoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevoAdmin</servlet-name>
    <url-pattern>/ServletNuevoAdmin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNuevaEG</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletNuevaEG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevaEG</servlet-name>
    <url-pattern>/ServletNuevaEG.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNuevaEC</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletNuevaEC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevaEC</servlet-name>
    <url-pattern>/ServletNuevaEC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNuevoChofer</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletNuevoChofer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevoChofer</servlet-name>
    <url-pattern>/ServletNuevoChofer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNuevoBus</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletNuevoBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevoBus</servlet-name>
    <url-pattern>/ServletNuevoBus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNuevaRuta</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletNuevaRuta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevaRuta</servlet-name>
    <url-pattern>/ServletNuevaRuta.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCrearBus</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletCrearBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearBus</servlet-name>
    <url-pattern>/ServletCrearBus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCrearEC</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletCrearEC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearEC</servlet-name>
    <url-pattern>/ServletCrearEC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCrearEG</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletCrearEG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearEG</servlet-name>
    <url-pattern>/ServletCrearEG.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCrearRuta</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletCrearRuta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearRuta</servlet-name>
    <url-pattern>/ServletCrearRuta.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCrearChofer</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletCrearChofer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearChofer</servlet-name>
    <url-pattern>/ServletCrearChofer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletListaBuses</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletListaBuses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaBuses</servlet-name>
    <url-pattern>/ServletListaBuses.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ServletListaChofer</servlet-name>
    <servlet-class>com.transmetro.servlets.ServletListaChofer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaChofer</servlet-name>
    <url-pattern>/ServletListaChofer.do</url-pattern>
  </servlet-mapping>
</web-app>