/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { overflow:collapsed; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
body {
	line-height: 1;
	background:#eee url(../imagenes/page_bg.jpg);
	font-family:'ClementeLight',Sans-Serif,Helvetica,Arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*
	Hoja de Estilos Principal
	Estilos V.2.0
	@autor: Jonathan Samines
*/


@font-face {
    font-family: 'CoffeeShop';
    src: url('../fuentes/CofeeBold/coffee_shop_bold_trial_version-webfont.eot');
    src: url('../fuentes/CofeeBold/coffee_shop_bold_trial_version-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/CofeeBold/coffee_shop_bold_trial_version-webfont.woff') format('woff'),
         url('../fuentes/CofeeBold/coffee_shop_bold_trial_version-webfont.ttf') format('truetype'),
         url('../fuentes/CofeeBold/coffee_shop_bold_trial_version-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JnsamFont';
    src: url('../fuentes/reklamescript/reklamescript-regular_demo-webfont.eot');
    src: url('../fuentes/reklamescript/reklamescript-regular_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/reklamescript/reklamescript-regular_demo-webfont.woff') format('woff'),
         url('../fuentes/reklamescript/reklamescript-regular_demo-webfont.ttf') format('truetype'),
         url('../fuentes/reklamescript/reklamescript-regular_demo-webfont.svg#JnsamFont') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'NillandRegular';
    src: url('../fuentes/nilland/nilland-webfont.eot');
    src: url('../fuentes/nilland/nilland-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/nilland/nilland-webfont.woff') format('woff'),
         url('../fuentes/nilland/nilland-webfont.ttf') format('truetype'),
         url('../fuentes/nilland/nilland-webfont.svg#NillandRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClementeLight';
    src: url('../fuentes/clemente/clementepdae-light-webfont.eot');
    src: url('../fuentes/clemente/clementepdae-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/clemente/clementepdae-light-webfont.woff') format('woff'),
         url('../fuentes/clemente/clementepdae-light-webfont.ttf') format('truetype'),
         url('../fuentes/clemente/clementepdae-light-webfont.svg#ClementeLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Estilos Cabecera*/
header{
	height:180px;
	min-width:1270px;
	width:100%;
}
	hgroup#logo{
		float:left;
		height:140px;
		width:50%;
		text-indent:-10000px;
	}
	hgroup#logo h1{height:100%;margin-left:6%;}
	hgroup#logo h1 a{
		background: transparent url(../imagenes/transmetro.png) no-repeat center;
		background-size:100%;
		display:block;
		height:100%;
		width:280px;
		z-index:2;
	}

	nav#user-opt{
		height:140px;
		float:right;
		width:50%;
	}
	nav#user-opt ul{float:right;margin:5px;}
	nav#user-opt ul li a{
		color:#FFF;
		display:block;
		text-decoration:none;
		padding:8px 20px;
		float:right;
	}
	nav#user-opt ul li{
		background:#000;
		display:inline;
		float:left;
		margin:3px;
		text-align:center;
		-webkit-transition:background 0.5s ease-in;
	}
	nav#user-opt ul li:hover{background:#0099cc;}
	li#login span{
		background-image:url(../imagenes/login.png);
		background-repeat:no-repeat;
		background-position:center;
		padding:10px;
		margin:5px -10px 5px 5px;
		float:left;
	}

	aside#top-header{
		background:#000 url(../imagenes/banner-bg.jpg);
		border-bottom:4px solid #F8CA00;
		height:38px;
		min-width:1270px;
		width:100%;
	}
/*Fin de Estilos Cabecera*/

/*Estilos del Contenedor Principal*/
div#body-wrapper{
	height:800px;
	min-width:1270px;
	width:100%;
	top:150px;
}
	section#sidebar{
		float:left;
		height:100%;
		min-width:200px;
		position:relative;
		width:20%;
	}
		nav#menu-bar{
			border-right:1px solid #ddd;
			border-top:1px solid #eee;
			width:90%;
			height:30%;
			margin:5%;
		}
		nav#menu-bar ul li span{
			background-repeat:no-repeat;
			background-position:center;
			padding:10px 20px 10px 20px;
			margin:2px 2px 2px -15px;
		}
		nav#menu-bar ul li a, nav#menu-bar ul li a:visited, nav#menu-bar ul li a:hover{
			text-decoration:none;
			color:#666;
			font-size:15px;
		}
		nav#menu-bar ul li#home span{
			background-image:url(../imagenes/inbox.png);
		}
		nav#menu-bar ul li#carrito span{
			background-image:url(../imagenes/contacts.png);
		}
		nav#menu-bar ul li#catalogo span{
			background-image:url(../imagenes/sent.png);
		}
		nav#menu-bar ul li#historial span{
			background-image:url(../imagenes/historial.png);
		}
		nav#menu-bar ul li#perfil span{
			background-image:url(../imagenes/perfil.png);
		}
	section#content-wrapper{
		background:#fff;
		float:right;
		height:100%;
		min-width:1000px;
		width:80%;
	}
		section#contenido{
			width:98%;
			height:100%;
			margin:1%% 1% 4% 1%;
			position:relative;
		}	
		/*div#bienvenida{background:transparent url(../imagenes/welcome.png)no-repeat center;width:100%;height:80px;}*/
		div#backboard{background:transparent url(../imagenes/blackboard.jpg) no-repeat center;width:100%;height:200px;
						text-align:center;font-size:20px;color:#fff;padding-top:150px;}
		div#loader-wrap{position:relative;width:100px;height:100px;text-align:center;margin:0 auto;margin-top:20%;}
		div#loader-wrap p{font-size:13px;color:#fff;text-align:center;padding:5px;display:block;background:#3299BB;}
		section#tabla-catalogo{
			position:absolute;
			width:98%;
			height:auto;
			margin-left:-49%;
			top:15px;
		}
		section#carrito-compras{
			width:90%;
			position:relative;
			margin:80px auto 0 auto;
		}
		div#informacion-carrito{
			height:120px;
			width:180px;
			padding:10px 15px;
			margin-top:-70px;
			margin-left:-105px;
			cursor:pointer;
			background:transparent url();
		}
/*Fin de Estilos Contenedor Principal*/

/*ESTILOS PARA TABLAS*/
form[name="carrito-compras"]{
	margin:0 auto;
}
table#catalogo{margin:20px auto;background:#fff;position:relative;}
table#catalogo td{
	padding:2px 20px;
}
table#catalogo caption{
	font-size:30px;
	text-transform:uppercase;
	color:#fff;
	background:#99B2B7;
}

table#catalogo thead th{
	background:#3299BB;
	color:#fff;	
	padding:10px 20px;
	border:none;
}
table#catalogo tfoot td{
	padding:5px 20px;
	border:none;
}

table#catalogo tr:nth-child(2n+1){
	background:#E9E9E9 url(../imagenes/page_bg.jpg);
}

table#catalogo tr:hover{
	color:#FF9900;
}


/* FIN DE ESTILOS PARA TABLAS*/

/*ESTILOS DEL FOOTER*/
footer{
	background:#111 url(../imagenes/banner-bg.jpg);
	height:50px;
	min-width:1270px;
	width:100%;
	color:#fff;
}
/*FIN DE ESTILOS DEL FOOTER*/

/*ESTILOS PAGINAS EXTERNAS*/
section#login{
	width:90%;
	position:relative;
	margin:300px auto 0 auto;
}
div#login-box{
	height:200px;
	padding:10px 15px;
	margin-top:-110px;
	margin-left:-105px;
	text-shadow:none;
	cursor:pointer;
}
div#login-box h1{
	width:100%;
	background:#444;
	padding:10px 15px;
	margin:-10px -15px 10px -15px;
	color:#fff;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	text-transform:uppercase;
}

form[name="login-form"]{
	position:relative;
	font:14px 'ClementeLight',Sans-Serif,Helvetica,Arial;
}

input[type='text'],input[type='password']{
	height:14px;
	padding:5px;
	width:160px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	border:1px solid #999;
	margin:2px auto;
	font:14px 'ClementeLight',Sans-Serif,Helvetica,Arial;
}

/*FIN DE ESTILOS PAGINAS EXTERNAS*/



/*Estilos de Clases Genéricas*/

.smallBox{
	-moz-border-radius:5px;
	webkit-border-radius:5px;
	o-borderborder-radius:5px;
	border-radius:5px;
}

.bigBox{
	-moz-border-radius:10px;
	webkit-border-radius:10px;
	o-borderborder-radius:10px;
	border-radius:10px;
}

.button {
   border: 1px solid #DDD;
   border-radius: 3px;
   text-shadow: 0 1px 1px white;
   -webkit-box-shadow: 0 1px 1px #fff;
   -moz-box-shadow:    0 1px 1px #fff;
   box-shadow:         0 1px 1px #fff;
   padding: 10px 20px;
   margin:3px 20px;
   white-space: nowrap;
   vertical-align: middle;
   color: #666;
   background: transparent;
   cursor: pointer;
   -webkit-transition:all 0.4s ease-in;
   -moz-transition:all 0.4s ease-in;
   transition:all 0.4s ease-in;
	font:16px 'ClementeLight',Sans-Serif,Helvetica,Arial;
}
a.button {text-decoration:none;}
.button:hover, .button:focus {
   border-color: #999;
   background: -webkit-linear-gradient(top, white, #E0E0E0);
   background:    -moz-linear-gradient(top, white, #E0E0E0);
   background:     -ms-linear-gradient(top, white, #E0E0E0);
   background:      -o-linear-gradient(top, white, #E0E0E0);
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
   -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
   box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
.button:active {
   border: 1px solid #AAA;
   border-bottom-color: #CCC;
   border-top-color: #999;
   -webkit-box-shadow: inset 0 1px 2px #aaa;
   -moz-box-shadow:    inset 0 1px 2px #aaa;
   box-shadow:         inset 0 1px 2px #aaa;
   background: -webkit-linear-gradient(top, #E6E6E6,gainsboro);
   background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
   background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
   background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
}


/*
	Esta caja se centra con la siguiente formula:
	margin-left = -(width/2)
	margin-top = -(height/2)
	
	ambas propiedades (alto y ancho), se establece sobre la caja a centrar.
*/
.box-container{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;	
	position:absolute;
	top:50%;
	left:50%;
	font:15px 'ClementeLight',Helvetica,Arial;
	color:#333;
}

/*ESTILOS LOGIN Y REGISTER EXTERNOS*/

section#login-ext,section#register-ext{
	width:100%;
	height:100%;
	position:absolute;
}

div#login-box-ext{
	height:220px;
	margin-top:-110px;
}

div.box-container-ext{
	width:500px;
	height:450px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;	
	background:rgba(255,255,255,0.5);
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-225px;
	margin-left:-250px;
	font:15px 'ClementeLight',Helvetica,Arial;
	color:#333;
}

.box-container-ext h1{
	text-align:center;
	background:#3B4A61;
	width:100%;
	padding:6px 0px;
	color:#fff;
	font:30px 'JnSamFont',Helvetica,Arial;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-o-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}
